<td><%= index %></td>
<td>
	<% if(photoUrl != null) { %>
      <img height="40" src=<%= photoUrl %> id="profilePhoto"/>
    <% } else { %>
    	<% if(gender == 'M' || gender == 'Male') { %>
      		<img height="50" src="/./images/default_male.png" alt="Student Photo" id="profilePhoto"/>
      	<% } else { %>
      		<img height="50" src="/./images/default_female.png" alt="Student Photo" id="profilePhoto"/>
      	<% } %>
    <% } %>
	<a href="#" data-id="<%= _id %>" class="student-name">
		<%= studentName %>
	</a>
</td>
<td>
	<%= statenumberLabel + "/" + districtLabel + nrcType + nrcRegNumber %>
</td>
<td data-order="<%= batch %>">
	<%= batchLabel %>
</td>
<td data-order="<%= major  %>">
	<%= majorLabel  %>
</td>
<td data-order="<%= address %>">
	<%= address + "," + townshipName + "," + divisionName %>
</td>
<td>
	<%= contact1 %>
</td>
<td>
	<button class="btn btn-default btn-sm" id="delete-student">
		<span class="glyphicon glyphicon-trash text-danger"></span>
	</button>
</td>