<div class="row">
	<div class="col-sm-6">
    <label for="">Major</label>
    <select class="form-control" id="major">
      <% _.each(app.major, function(major, val) { %>
        <option value="<%= val %>"><%= major %></option>
      <% }); %>
    </select>
  </div>

  <div class="col-sm-3">
  	<label for="">Batch</label>
    <select class="form-control" id="batch">
      <% _.each(app.batch, function(batch, val) { %>
        <option value="<%= val %>"><%= batch %></option>
      <% }); %>
    </select>
  </div>
</div>

<br>

<table id="student-list-table"
	class="table table-bordered" cellspacing="0" width="100%">
	<thead>
		<tr>
			<th>#</th>
			<th width="20%">Name</th>
			<th>NRC</th>
			<th>Batch</th>
			<th>Major</th>
			<th>Address</th>
			<th>Contact</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>

	</tbody>
</table>

<script>
	$(function() {
		$("#student-list-table").dataTable({
			responsive: true
		});
	});
</script>