<form action="#" id="student-edit-form">
	
	<div class="form-group">
		<label for="">Name *</label>
		<input type="text" class="form-control"
			placeholder="Name" id="studentName" value="<%= studentName %>">
	
	</div>

	<div class="form-group">
	    <label for="">NRC *</label>
	    <div class="row">
	      <div class="col-sm-3">
	        <select class="form-control" id="stateNumber">
	          <% _.each(app.statenumbers, function(item, val) { %>
	          	<% if(statenumber != val) { %>
		          <option value="<%= val %>"><%= item %></option>
		        <% } else { %>
		          <option selected value="<%= val %>"><%= item %></option>
		        <% } %>
	            
	          <% }); %>
	        </select>
	      </div>
	      <div class="col-sm-3">
	        <select class="form-control" id="district">
	          <option value="<%= district %>">Select.</option>
	        </select>
	      </div>
	      <div class="col-sm-3">
	        <input type="text" class="form-control" value="<%= nrcType %>" id="nrcType">
	      </div>
	      <div class="col-sm-3">
	        <input type="text" class="form-control" placeholder="RegNo" id="nrcRegNumber" value="<%= nrcRegNumber %>">
	      </div>
	    </div>
	</div>

	<div class="form-group">
	    <div class="row">
	      <div class="col-sm-6">
	        <label>Contact1</label>
	        <input type="text" class="form-control" 
	        	placeholder="Contact Number" id="contact1" value="<%= contact1 %>">
	      </div>
	      <div class="col-sm-6">
	        <label>Contact2</label>
	        <input type="text" class="form-control" 
	        	placeholder="Contact Number" id="contact2" value="<%= contact2 %>">
	      </div>
	    </div>
	  </div>

	  <div class="form-group">
	    <label>Address</label>
	    <input type="text" class="form-control" 
	    	placeholder="Address" id="address" value="<%= address %>">
	  </div>

	  <div class="form-group">
	    <div class="row">
	      <div class="col-sm-6">
	          <label for="">Division</label>
	          <select class="form-control" id="division">
	            <% _.each(app.divisions, function(division, val) { %>
	              <option value="<%= val %>"
					<%= val == divisionId ? 'selected' : '' %> ><%= division %>
				</option>
	            <% }); %>
	          </select>
	      </div>
	      <div class="col-sm-6">
	        <label for="">Township</label>
	        <select class="form-control" id="township">
	          <% _.each(app.townships, function(township, val) { %>
	              <option value="<%= val %>"
					<%= val == townshipId ? 'selected' : '' %> ><%= township %>
				</option>
				<% }); %>
	        </select>
	      </div>
	    </div>
	  </div>

	  <div class="form-group">
	    <div class="row">
	      <div class="col-sm-6">
	          <label>Email</label>
	          <input type="email" class="form-control" 
	          	placeholder="Email" id="email" value="<%= email %>">    
	      </div>
	      <div class="col-sm-6">
	        <label>Facebook profile</label>
	        <input type="text" class="form-control" 
	        	placeholder="Facebook URL" id="fbprofile" value="<%= fbprofile %>">    
	      </div>
	    </div>
  	</div>

	<button type="submit" class="btn btn-primary btn-lg" id="update-student">
		<span class="glyphicon glyphicon-edit"></span>
		Update
	</button>
	<button class="btn btn-link" id="close-edit">Cancel</button>
</form>
<script type="text/javascript">

$(document).ready(function() {
	var stateNumber = $("#stateNumber").val();
	var districtId = $("#district").val();
      $.ajax({
        url: app.host + "/students/districts/" + stateNumber,
        success: function(data) {
          var options = "";
          for (var i = data.length - 1; i >= 0; i--) {
          	if(data[i]["districtId"] == districtId)
            	options += "<option selected value=" + data[i]["districtId"] + ">" + data[i]["districtName"] + "</option>";
        	else
        		options += "<option value=" + data[i]["districtId"] + ">" + data[i]["districtName"] + "</option>";
          };
          $("#district").html(options);
        }
      });
});
</script>