<div class="row">
	<div class="col-md-8 col-sm-12 col-xs-12">
		<div class="panel panel-info student-detail">
			<div class="panel-heading">
				<h2>
					<span class="glyphicon glyphicon-user"></span>
					<%= studentName %>
				</h2>
			</div>
			<div class="panel-body">
				<div class="row">
				  <div class="col-sm-6">
				  	<!--<div id="content">
						<label for="">Photo</label>
						<span class="file-input btn btn-block btn-primary btn-file pull-left" id="uploadFile">
						  <input id="fileInput" type="file" name="fileInput">
						</span>
					</div>-->
					<!--<div id="photo">
						<img height="150" src="<% if(photoUrl != null) { %>
													photoUrl
												<% } else { %>
													/./images/default_pic.png
												<% }  %>" id="profilePhoto"/>
					</div>-->
					<form id="uploadForm" enctype="multipart/form-data" action="<%= rootUrl %>/photo/<%= _id %>" method="post">
						<div id="gallery">
							<div class="thumbnail">
								<% if(photoUrl != null) { %>
						          <img height="150" src=<%= photoUrl%> id="profilePhoto"/>
						        <% } else { %>
						          <img height="150" src="/./images/default_pic.png" alt="Student Photo" id="profilePhoto"/>
						        <% } %>
							</div>
						</div>
						<label class="btn btn-primary">
			                Browse&hellip; <input id="fileInput" name="userPhoto" type="file" accept="image/*" style="display: none;"/>
			            </label>      
						<input type="submit" value="Upload Image" class="btn btn-primary" id="uploadSubmit" name="submit">
						<span id="status" class="label label-success"></span>
						<img src="/./images/loader.gif" width="30" height="30" id="loading">
					</form>
					
					<!--<form id="addBook" action="..." enctype="multipart/form-data">
					  <div>
					  	<div id="gallery"></div>
						<br>
						<label class="btn btn-primary">
			                Browse&hellip; <input id="fileInput" type="file" accept="image/*" style="display: none;"/>
			            </label>      
					  </div>
					</form>-->
					
					
				  </div>
				  <div class="col-sm-6">
				  	<span class="glyphicon glyphicon-check"></span>
				  	<label>NRC</label>
				  	<%= statenumberLabel + "/" + districtLabel + nrcType + nrcRegNumber %>
				  	<hr>
				  	<span class="glyphicon glyphicon-check"></span>
				  	<label>Address</label>
				  	<%= address + ", " + townshipName + ", " + divisionName %>
				  	<hr>
				  	<span class="glyphicon glyphicon-check"></span>
				  	<label>Email</label>
				  	<%= email %>
				  	<hr>
				  	<a href="<%= fbprofile %>" target="_blank"><img src="/./images/facebook.png" width="30" height="30"></a>
				  </div>
				</div>
			</div>
			<div class="panel-footer clearfix">
				<span class="text-muted"><%= moment(submittedAt).fromNow() %></span>
				<div class="btn-group pull-right">
					<button class="btn btn-default btn-sm" id="edit-student">
						<span class="glyphicon glyphicon-edit text-info"></span>
						Edit
					</button>
					<button class="btn btn-default btn-sm" id="delete-student">
						<span class="glyphicon glyphicon-trash text-danger"></span>
						Remove
					</button>
				</div>
			</div>
		</div>
		
		<hr>

	</div>

	<div class="col-md-4 col-sm-12 col-xs-12 sidebar">		
		<div class="btn-group btn-breadcrumb">
	      <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-tasks"></span></a>
	      <a href="#" class="btn btn-danger">Batch</a>
	      <a href="#" class="btn btn-default" data-toggle="dropdown"><%= batchLabel %> <span class="caret"></span></a>
	      <ul class="dropdown-menu dropdown-menu-right">
	        <% _.each(app.batch, function(label, type) { %>
	          <li><a href="#" class="change-batch" data-value="<%= type %>"><%= label %></a></li>
	        <% }) %>
	      </ul>
	    </div>

		<div class="btn-group btn-breadcrumb">
	      <a href="#" class="btn btn-warning">
	        <span class="glyphicon glyphicon-asterisk"></span>
	      </a>
	      <a href="#" class="btn btn-warning">Major</a>
	      <a href="#" class="btn btn-default" data-toggle="dropdown"><%= majorLabel %> <span class="caret"></span></a>
	      <ul class="dropdown-menu dropdown-menu-right">
	        <% _.each(app.major, function(label, priority) { %>
	          <li><a href="#" class="change-major" data-value="<%= priority %>"><%= label %></a></li>
	        <% }) %>
	      </ul>
	    </div>

	    <div class="btn-group btn-breadcrumb">
	      <a href="#" class="btn btn-info">
	        <span class="glyphicon glyphicon-user"></span>
	      </a>
	      <a href="#" class="btn btn-info">Gender</a>
	      <a href="#" class="btn btn-default" data-toggle="dropdown">
	      	<% if(gender == 'M' || gender == 'Male') { %> 
	      	Male
	      	<% } else { %>
	      	Female
	      	<% } %>
	      <span class="caret"></span></a>
	      <ul class="dropdown-menu dropdown-menu-right">
	        <% _.each(app.gender, function(label, priority) { %>
	          <li><a href="#" class="change-gender" data-value="<%= priority %>"><%= label %></a></li>
	        <% }) %>
	      </ul>
	    </div>

	    <hr>

	    <div class="btn-group btn-breadcrumb">
	    	<a href="#" class="btn btn-success">
				<span class="glyphicon glyphicon-phone-alt"></span></a>
			<a href="#" class="btn btn-success">Contact1</a>
			<a href="#" class="btn btn-default"><%= contact1 %></a>
			<span></span>
	    </div>

	    <div class="btn-group btn-breadcrumb">
	    	<a href="#" class="btn btn-success">
				<span class="glyphicon glyphicon-phone-alt"></span></a>
			<a href="#" class="btn btn-success">Contact2</a>
			<a href="#" class="btn btn-default"><%= contact2 %></a>
			<span></span>
	    </div>

		<hr>

		<div class="alert text-muted meta">
			<p>
				Submitted date: <b>
					<%= moment(submittedAt).format("DD-MM-YYYY h-mm-ss a") %>
				</b>
			</p>
			<p>
				Last modified: <b>
					<% if(typeof modifiedAt !== 'undefined') { %>
						<%= moment(modifiedAt).format("DD-MM-YYYY h-mm-ss a") %>
					<% } %>
				</b>
			</p>
		</div>
	</div>
</div>

<script type="text/javascript">

$(document).ready(function() {
	$("#uploadForm").submit(function() {
		
		$("#loading").css("display","block");

		$(this).ajaxSubmit({

			//$("#status").text("Uploading...!");
			error: function(xhr) {
        		status('Error: ' + xhr.status);
            },
            success: function(response) {
        		//location.reload();
        		//return false;
        		$("#status").text("Upload success!");
                console.log(response.photoUrl);
                $("#loading").hide("fast");
                location.reload(); 
            }
		});
		//Very important line, it disable the page refresh.
    	return false;
	});

	$('#loading').css("display","none");
	$("#uploadSubmit").hide("fast");
});

var uploadFile = document.querySelector("#fileInput");
uploadFile.addEventListener("change", function() {
	var files = this.files;
	previewImage(this.files);
	$("#uploadSubmit").show("fast");
}, false);
function previewImage(files) {
	//var galleryId = "gallery";
	var profilePhoto = "profilePhoto";
	var img  = document.getElementById(profilePhoto);
	//var gallery = document.getElementById(galleryId);
	var imageType = /image.*/;
	var file = files[0];

	if(!file.type.match(imageType)) {
		throw "File Type must be an image";
	}

	//var thumb = document.createElement("div");
	//thumb.classList.add("thumbnail");

	//var img = document.createElement("img");
	img.file = file;
	//thumb.appendChild(img);
	//gallery.appendChild(thumb);

	var reader = new FileReader();
	reader.onload = (function(aImg) {
		return function(e) { 
			aImg.src = e.target.result;
		};
	})(img);
	reader.readAsDataURL(file);
}
</script>